@import "tailwindcss";

@theme {
  --font-serif: 'Merriweather', serif;
  --font-sans: 'Inter', sans-serif;
}

@layer utilities {
  .reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
  }

  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }

  .stagger-1 { transition-delay: 100ms; }
  .stagger-2 { transition-delay: 200ms; }
  .stagger-3 { transition-delay: 300ms; }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f5f5f4; 
}
::-webkit-scrollbar-thumb {
    background: #a8a29e; 
    border-radius: 5px;
    border: 2px solid #f5f5f4;
}
::-webkit-scrollbar-thumb:hover {
    background: #78716c; 
}

/* Leaflet Fullscreen Overrides */
.leaflet-fullscreen-on {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999 !important;
    border-radius: 0 !important;
}

/* Smooth Scroll behavior */
html {
    scroll-behavior: smooth;
}
